/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../imgs/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
}

#date {
  color: rgb(0, 174, 255);
  font-size: 2rem;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: auto;
  margin: 10%;
}

#generted-word {
  background-color: rgba(173, 216, 230, 0);
  padding: 1rem;
  width: fit-content;
  border-bottom: 1px solid white;
  font-size: 2rem;
  font-weight: bold;
}

#generate {
  width: 260px;
  height: 6rem;
  padding: 1px;
  font-size: 2rem;
  border-radius: 20px;
  border: none;
  background-image: url("../imgs/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

#generate:hover {
  cursor: pointer;
  filter: contrast(165%);
}

#generate:active {
  background: rgb(255, 85, 113);
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

/* clear styles  */
#clear {
  padding: 1rem;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
}

#clear:hover {
  filter: 130%;
  color: rgb(255, 67, 67);
  cursor: pointer;
}