* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background-image: url("../imgs/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

main {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 2rem;
}

#generted-word {
  background-color: lightblue;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  border: 1px solid darkblue;
  font-size: 2rem;
}

#generate {
  width: 260px;
  height: 6rem;
  padding: 1px;
  font-size: 2rem;
  border-radius: 20px;
  background: linear-gradient(to right, #f9c4c0, red);
  color: white;
}

#generate:hover {
  background: linear-gradient(to left, #f9c4c0, red);
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}